.color-fondo{
    background-color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optionally, set the height to occupy the full viewport height */
    /* margin-top: 50%; */
}

.center-content {
    text-align: center;
}

.imgInicio {
    height: 300px;
    width: 300px; 
}

.botonP{
    margin-bottom: 30px;
}

.titulo{
    margin-top: 15px;
    font-size: 25px;
}