.custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.custom-title ion-title {
    font-size: 1.5em; 
    font-weight: bold;
}

.custom-title p {
    font-size: 0.8em; 
    color: #555; 
}

.custom-input-container {
    width: 80%; /* Adjust the width as needed */
}

.custom-input-item ion-input {
    border: 1px solid #ccc;
    border-radius: 5px; 
    padding: 10px;
    margin-bottom: 10px;
}


