<ion-content [fullscreen]="true">
  <div class="custom-container">
    <div class="ion-text-center custom-title">
      <ion-title>
        Ingresa tu correo
        <p>para recibir un enlace para recuperar tu contraseña</p>
      </ion-title>
    </div>

    <div class="ion-margin-top custom-input-container">
      <ion-item class="custom-input-item">
        <ion-input placeholder="Ingresa tu correo"></ion-input>
        <ion-icon name="person-outline" slot="start"></ion-icon>
      </ion-item>

      <ion-fab vertical="bottom" horizontal="end" class="botonP custom-fab">
        <ion-fab-button [routerLink]="['/login']">
          <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
  </div>
</ion-content>
