<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div class="signup-container">
      <ion-title>Regístrate ahora!</ion-title>
      <p>Ingresa tus datos:</p>

      <!-- Formulario Signup -->
      <form class="signup-form">
        <div class="ion-padding">
          <!-- Sección Nombre -->
          <ion-item class="signup-input">
            <ion-input placeholder="Nombre"></ion-input>
            <ion-icon name="person-outline"></ion-icon>
          </ion-item>

          <!-- Sección Correo -->
          <ion-item class="signup-input">
            <ion-input placeholder="Correo"></ion-input>
            <ion-icon name="mail-outline"></ion-icon>
          </ion-item>

          <!-- Sección Password  -->
          <ion-item class="signup-input">
            <ion-input type="password" placeholder="Contraseña"></ion-input>
            <ion-icon name="lock-closed-outline"></ion-icon>
          </ion-item>
        </div>

        <!-- Sección Ya registrado -->
        <div class="yaRegistrado">
          <p>¿Ya estás registrado? <a [routerLink]="['/login']">Iniciar Sesión</a></p>
        </div>

        <!-- Sección Botón -->
        <ion-fab vertical="bottom" horizontal="end" class="botonP">
          <ion-fab-button [routerLink]="['/home']">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </form>
    </div>
  </div>
</ion-content>
